@import "./reset.css";

/* body {
  background-color: gray;
  
};

.container {
  display: flex;
  justify-content: center;
}

.box {
  box-sizing: border-box;
  border: solid black 1px;
  width: 200px;
  justify-content: center;
  display: flex;
}

.container button {

}

.hidden {
  display: none;
}

.visible {
  display: default;
} */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  padding-top: 175px;
}

.main-container {
  text-align: center;
  font-family: helvetica;
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  background-color: #7371ee;
  background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}

.main-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* background-color: cornflowerblue; */
  /* width: 300px;
  height: 300px; */
  font-size: 20px;
}

#startBtn {
  font-family: helvetica;
  background: none;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

#startBtn:hover {
  border-color: white;
}

.chat-1 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.avatar-1 {
  width: 200px;
  height: 200px;
  background-color: darkmagenta;
  margin: 50px;
  border-radius: 5px;
}

.chatbox-1 {
  width: 500px;
  height: 150px;
  background-color: lightgray;
  margin: 50px;
  border-radius: 5px;
}
.chat-2 {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.avatar-2 {
  width: 200px;
  height: 200px;
  background-color: darkmagenta;
  margin: 50px;
  border-radius: 5px;
}

.chatbox-2 {
  width: 500px;
  height: 150px;
  background-color: white;
  margin: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-windows {
  font-family: helvetica;
  font-size: 20px;
}

.hidden {
  display: none;
}

img {
  border-radius: 5px;
}

.btn {
width: fit-content;
height: fit-content;
background-color: lightskyblue;
border-radius: 5px;
font-size: 20px;
margin: 10px;
}

.btn:hover {
  background-color: rgb(47, 160, 230);
}